:root {
  --main-color-blue: #337ab7;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-size:100%;
  height: 100%;
  font-family: Roboto;
}

a {
  color: var(--main-color-blue);
}

.genericon {
  font-size: 25px;
  margin: 1px;
  color: white;
}

.picture-and-text {
  display: flex;
}

.picture-in-text {
  align-self: flex-start;
}

.tab-content {
  padding: 0;
}

.tab-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  padding: 20px 30px;
  margin: auto;
}

h2.tab-information {
  margin-top: 20px;
}

hr.information {
  max-width: 640px;
  box-shadow: 0px 1px 1px
}

#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

#my-data {
  padding: 20px;
}

#name {
  font-family: "Oswald";
}

#main-content {
  width: 100%;
  height: 100%;
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#tab-links > * {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 13px;
}

#theses > * {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 13px;
}

#footer {
  height: 100px;
  background-color: var(--main-color-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#social-links {
  align-self: center;
  padding: 10px;
}

#copyright {
  color: white;
}
