html {
  height: 100%;
}

body {
  background-image: url("pics/background.jpg");
  background-size:100%;
  height: 100%;
  font-family: Roboto;
}

.genericon {
  font-size: 25px;
  margin: 1px;
}

.panel {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 0px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#my-data {
  padding: 20px;
}

#name {
  font-family: "Oswald";
}

#social-links {
  align-self: center;
  padding: 20px;
}

#main-content {
  height: 100%;
  opacity: 0.9;
}

#navigation {
  background-color: silver;
}
